# All dotfiles and dotfolders except specific ones we want to track
.*
!.gitignore

# Certificate and key files
*.cert
*.key

# Audio files
*.wav

# Tracing files
FlameGraph/

# Python cache files
*.pyc